

<div class="logo-holder">
    <img id="logo" src="assets/logo.png" alt="logo">
    <div class="list-buttons">
        <button id="play-button" mat-raised-button color="primary" [routerLink]="['/decks']">
            Play
        </button>
    </div>
    <div class="list-buttons">
        <button id="deck-button" mat-raised-button color="primary" [routerLink]="['/decks']">
            Decks
        </button>
    </div>
    <div class="list-buttons">
        <button id="settings-button" mat-raised-button color="primary">
            Settings
        </button>
    </div>
</div>
