<mat-card>
    <mat-card-title class="card-word">{{ card.word }}</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="card-synonym card-line" [ngClass]="{'hint-selected': this.selected == 1}"><div class="card-desc">Synonym:</div> <div *ngFor="let hint of card.synonym" class="card-cont">{{ hint }}</div></div>
        <div class="card-antonym card-line" [ngClass]="{'hint-selected': this.selected == 2}"><div class="card-desc">Antonym:</div> <div *ngFor="let hint of card.antonym" class="card-cont">{{ hint }}</div></div>
        <div class="card-general-usage card-line" [ngClass]="{'hint-selected': this.selected == 3}"><div class="card-desc">General usage:</div> <div *ngFor="let hint of card.general_sense" class="card-cont">{{ hint }}</div></div>


        <div class="card-example-usage card-line" [ngClass]="{'hint-selected': this.selected == 4}"><div class="card-desc">Example usage:</div> <div *ngFor="let hint of card.example_usage " class="card-cont">{{ hint }}</div></div>


    </mat-card-content>
</mat-card>
