<h2 mat-dialog-title>Add New Card</h2>
<form #newCardForm="ngForm">

    <mat-dialog-content layout="column" class="add-card-form-fields">
        <mat-form-field>
            <input matInput required id="wordInput" #input type="text" placeholder="Word" [(ngModel)]="newCardWord" name="newCardWord">
        </mat-form-field>

        <mat-form-field>
            <input matInput [required]="newCardSynonyms.length==0" id="synInput" #input type="text" placeholder="Synonym" [(ngModel)]="newCardSynonym" name="newCardSynonym">
        </mat-form-field>
        <button id="new-syn" class="addButton" mat-mini-fab [@tdPulse]="pulseState" (click)="pulseState = !pulseState" color="accent" matTooltip="Add another hint" [disabled]="newCardSynonym==''" (click)="pushNewCard('syn')">
            <mat-icon>add</mat-icon>
        </button>


        <mat-form-field>
            <input matInput [required]="newCardAntonyms.length==0" id="antInput" #input type="text" placeholder="Antonym" [(ngModel)]="newCardAntonym" name="newCardAntonym">
        </mat-form-field>
        
        <button id="new-ant" class="addButton" mat-mini-fab [@tdPulse]="pulseState" (click)="pulseState = !pulseState" color="accent" matTooltip="Add another hint" [disabled]="newCardAntonym==''" (click)="pushNewCard('ant')">
            <mat-icon>add</mat-icon>
        </button>
        <mat-form-field>
            <input matInput [required]="newCardGenerals.length==0" id="genInput" #input type="text" placeholder="General Sense" [(ngModel)]="newCardGeneral" name="newCardGeneral">
        </mat-form-field>
        <button id="new-gen" class="addButton" mat-mini-fab [@tdPulse]="pulseState" (click)="pulseState = !pulseState" color="accent" matTooltip="Add another hint" [disabled]="newCardGeneral==''" (click)="pushNewCard('gen')">
            <mat-icon>add</mat-icon>
        </button>
        <mat-form-field>
            <input matInput [required]="newCardExamples.length==0" id="exInput" #input type="text" placeholder="Example Usage" [(ngModel)]="newCardExample" name="newCardExample">
        </mat-form-field>
        <button id="new-ex" class="addButton" mat-mini-fab [@tdPulse]="pulseState" (click)="pulseState = !pulseState" color="accent" matTooltip="Add another hint" [disabled]="newCardExample==''" (click)="pushNewCard('ex')">
            <mat-icon>add</mat-icon>
        </button>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button id="new-card-submit" (click)="addNewCard()" color="primary" #input type="button" [disabled]="!newCardForm.form.valid"  type="submit">Add Card</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>

</form>
